*{

	margin: 0px;
	padding: 0px;
}

body{

	background: #999999 ;
		background-attachment: fixed;


}

header{
	background: #083858;
	padding: 20px;

}
.ok{
	background: #BFC9CA;
	box-shadow: 1px 1px 5px #000;
	height: 30px;
}
#menu{
	width: 600px;
	margin: 0px auto;
	padding: 0px;
}
#menu ul a{

	color: #060606;
	text-decoration: none;
	font: bold 14px Verdana;
	padding: 10px ;
	border-bottom: 6px solid transparent;
}
#menu ul a:hover{
	border-bottom: 6px solid #060606;

}

article div#lateral ul{
list-style: none;
}
 div#lateral ul li{
	margin-top: 15px;
	font-family: tahoma;
	font-size: 18px;
	background-color: #083858;
	width:250px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 5px 0px 10px #000;
-webkit-transition:padding-left 0.6s;
}
 div#lateral ul li:hover{
 	padding-left: 100px;
 }
div#lateral ul li a{
	color: white;
}


article div#lateral ul{
list-style: none;
}
 div#lateral ul li{
	margin-top: 15px;
	font-family: tahoma;
	font-size: 18px;
	background-color: #083858;
	width:400px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 5px 0px 10px #000;
-webkit-transition:padding-left 0.6s;
}
 div#lateral ul li:hover{
 	padding-left: 100px;
 }
div#lateral ul li a{
	color: white;
}
aside{	

	width: 300px;

	
	margin-top: 0px;
	float: right;

	
}
aside h2{
	font-size: 30px;
	text-align: center;
	line-height: 500px;
}

